Package: libubic-service-memcached-perl
Version: 2.01
Architecture: all
Maintainer: Vyacheslav Matjukhin (No comments) <mmcleric@yandex-team.ru>
Installed-Size: 100
Depends: libcache-memcached-perl, libmorpheus-perl, libparams-validate-perl, libparent-perl, memcached, perl (>= 5.6.0-16), ubic
Conflicts: yandex-ppb-memcached (<< 2.0.0)
Section: perl
Priority: optional
Description: memcached as ubic service
 The Ubic::Service::Memcached module is a helper for running memcached
 with ubic.
